<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog HomePage</title>
</head>
<body>
<div class="container">
    <h1>Blog HomePage</h1>
    <ul>
        <li><a th:href="@{posts/createPost}">Create New Post</a></li>
    </ul>
    <hr>
    <div th:if="${message}" class="alert">
        <p th:text="${message}"></p>
    </div>
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{posts/{id}(id=${post.id})}"
                   th:text="${post.title}"></a></h2>
        </div>
    </div>
</div>

</body>
</html>